* {
  margin: 0;
  padding: 0;
}

/* Timeline Container */

/* roadmap-Card container */
.roadmap-card {
  position: relative;
  max-width: 800px;
}

.outer {
  position: relative;
  padding-top: 40px;
}

.timeline {
  position: relative;
}

.timeline > .start-circle {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  top: 50px;
  left: -22px;
  background-color: #fff;
  z-index: 10;
}

.timeline > .end-circle {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  bottom: -25px;
  left: -24px;
  background-color: #fff;
  z-index: 10;
}

@media only screen and (max-width: 600) {
  .roadmap-card {
    max-width: 400px;
  }
}

/* setting padding based on even or odd */
.roadmap-card:nth-child(odd) {
  padding: 30px 0 30px 30px;
}

.roadmap-card:nth-child(even) {
  padding: 30px 30px 30px 0;
}
/* Global ::before */
.roadmap-card::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid hsl(201, 100%, 36%);
}

/* Setting the border of top, bottom, left */
.roadmap-card:nth-child(odd)::before {
  left: 0px;
  top: -5.5px;
  bottom: -5.5px;
  border-width: 5px 0 5px 5px;
  border-radius: 25px 0 0 25px;
}

/* Setting the top and bottom to "-5px" because earlier it was out of a pixel in mobile devices */
@media only screen and (max-width: 400px) {
  .roadmap-card:nth-child(odd)::before {
    top: -5px;
    bottom: -5px;
  }
}

/* Setting the border of top, bottom, right */
.roadmap-card:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 25px 25px 0;
}

/* Removing the border if it is the first roadmap-card */
.roadmap-card:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

/* Removing the border if it is the last roadmap-card  and it's odd */
.roadmap-card:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

/* Removing the border if it is the last roadmap-card  and it's even */
.roadmap-card:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
}

/* Title of the roadmap-card */
.title {
  color: #fff;
  position: relative;
}

/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 999px;
  border: 3px solid hsl(201, 100%, 36%);
}

/* text right if the roadmap-card is even  */
.roadmap-card:nth-child(even) > .info > .title {
  text-align: right;
}

/* setting dot to the left if the roadmap-card is odd */
.roadmap-card:nth-child(odd) > .info > .title::before {
  left: -57px;
}

/* setting dot to the right if the roadmap-card is odd */
.roadmap-card:nth-child(even) > .info > .title::before {
  right: -57px;
}

@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, -2px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  60% {
    transform: translate(-2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
