.cursor-spot::before {
  background: radial-gradient(
    550px at calc(var(--x, 0) * 1px) calc(var(--y, 0) * 1px),
    rgba(125, 140, 228, 0.075),
    transparent 80%
  );
  border-radius: 0.75rem;
  content: "";
  inset: -1px;
  opacity: 0;
  position: absolute;
  transition-duration: 0.3s;
  transition-property: background-color, opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: -1;
}

.cursor-spot:hover::before {
  opacity: 1;
}
